* {
   font-family:serif;
   border: 0px;
   padding: 0px;
   margin: 0px;
 }
 body {
   background-color: #1f1f1f; 
 }
 .navbar {
   position: fixed;
   height: 100%;
   width: 185px;
   background-color:  #242b2e;
 }
 .image1 {
   width: 185px;
   height: 60px;
   background-color: #5da3fa;
 }
 .navbar-bar {
   list-style: none;
 }
 .navlist-item {
    border-bottom: 3px dotted #1f1f1f;
    padding: 5px;
 }
 .nav-link {
 font-size: 18px;
   color: white;
   display: block;
   text-decoration: none;
   left: 10px;
   padding-left: 55px;
   background-color: #242b2e;
 }
 .content { 
    padding-left: 220px;
    display: inline-block;
    text-align: center;
    font-size: larger;
   
 }
 .para-heading {
    color: #5a4bda;
    padding-bottom: 20px;
    font-size: 40px;
    margin-right: 150px;
    font-family:sans-serif;
 }
 .para {
    text-align: left;
    padding-right: 20px;
    color: white;
    font-size: 19px;
 }
 .image {
    height:300px;
    width: 600px;
    padding: 20px;
    margin-right: 150px;
 }
.footer {
   padding-left: 220px;
   display: block;
   text-align: center;
   height: 100px;
 }