body {
  background-color: #212529;
}
h1 {
  font-size: 80px;
  text-decoration: underline;
  color: #807e7e;
  text-align: center;
}
p {
  font-size: 50px;
  color: #536072;
  padding-right: 20px;
  text-align: center;
}
